.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/wall.png);
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000;
    color: #FFF;
    border-bottom: 5px solid #ffd700;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.square{
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    background-color: #88d8bd;
}
.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-lives img{
    width: 60px;
}
.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 10px;
}

.enemy{
    background-image: url(../images/ralph.png);
    background-size: cover;
}
#levels{
    position: relative;
    left: 400px;
    top: -100px;
    background-color: #88d8bd;
    width: 400px;
    height: 150px;
}
.level h2{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
.level #difficulty{
    margin: 10px 0 10px 5px;
    position: relative;
    left: 119px;
    width:150px;
    height: 20px;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    position: relative;
    left: -65px;
    top: 50px;
    cursor: pointer;
}
button:hover{
    background-color: #000;
    color: #FFF;
}